<form class="p-3" [formGroup]="formEditUser" >
    <label class="w-100">Nombre</label>
    <input class="w-100" formControlName="name" >
    <label class="w-100">Nombre usuario</label>
    <input class="w-100" formControlName="nameUser">
    <label class="w-100">Telefono</label>
    <input class="w-100" formControlName="phone">
    <label class="w-100">Email</label>
    <input class="w-100" formControlName="email">
    
    <label class="w-100">Tipo de usuario:</label>
    <select  formControlName="typeUser"  class="w-100">        
      <option>sleccionar tipo de usuario</option>
      <option *ngFor="let item of typeRols" value="{{item.id}}">{{item.rol}}</option>
    </select>
    
    <div>
      <button (click)="closeDialog()">Cerrar</button>
      <button (click)="UpdateUserz()" >Actualizar</button>
    </div>   
</form>