<h6>Agregar un tipo de recurso ayuda a clasificar mejor los cursos creados</h6>

<form class="p-3" [formGroup]="formTypeRec" >

    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControlName="name" placeholder="Nombre del curso">
      <label for="text">Tipo Curso</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControlName="description" placeholder="Descripcion">
      <label for="text">Descripcion</label>
    </div>

    <div class="gap-3 d-md-flex justify-content-md-end mb-3">
      <button type="button" class="btn btn-danger" (click)="closeDialog()">Cerrar</button>
      <button type="button" class="btn btn-info" (click)="RegistrarRol()" >Registrar</button>
    </div>
  </form>