<form class="p-3" [formGroup]="formNewQuestion" >  
    <label class="w-100">Selecciona Pregunta:</label>
    <select  formControlName="id_questionSecret"  class="w-100">              
      <option *ngFor="let item of questionSec" value="{{item.id}}">{{item.questionsSecret}}</option>
    </select>    
    <label class="w-100">Respuesta</label>
    <input class="w-100" formControlName="answer">
    <div>
      <button (click)="closeDialog()">Cerrar</button>
      <button (click)="UpdateQuestion(data.id)" >Actualizar</button>
    </div>   
</form>