<div class="rounded d-flex justify-content-center" style="padding-top: 10px;">
  <div class="col-md-8  p-5 border">
    <div class="text-center pb-4">
            
      <h3 class="text-dark">Perfil de usuario</h3>
      <img src="../assets/img/userProfile.jpg" alt="" width="72" height="auto">
    </div>    
        <div class="text-center">
          <h5>Nombre completo:</h5>
          <h6>{{user.name}}</h6>
          <h5>Nombre de usuario:</h5>
          <h6>{{user.nameUser}}</h6>
          <h5>Correo:</h5>
          <h6>{{user.email}}</h6>
          <h6>Telefono</h6>
          <h6>{{user.phone}}</h6>
          <h6>Te unio el: Abril 2022</h6>
        </div>        
    <div class="sticky-top" class="text-primary">
      <button type="button" class="btn btn-outline-primary" (click)="editarUsuario(user.id, user.name, user.nameUser, user.email, user.phone)">Editar Datos</button>
      <button type="button" class="btn btn-outline-secondary" (click)="questionSecret(user.id)">Pregunta Secreta</button>
      <button type="button" class="btn btn-outline-warning" (click)="changePassword(user.id)">Cambiar Contraseña</button>
    </div>                
  </div>      
</div>

<app-footer></app-footer>