<header class="py-3 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <nav class="d-flex">
          <h6 class="mb-0">                                                   
            <a href="" class="text-reset">Home</a>
            <span>/</span>
            <a href="" class="text-reset">Perfil de usuario</a>           
          </h6>
        </nav>
      </a>
      <!--<app-search></app-search>-->
    </div>
</header>
      
<div class="rounded d-flex justify-content-center" style="padding-top: 10px;">
    <div class="col-md-7 col-sm-12 p-5 border">
        <div class="text-center" >
            
            <h3 class="text-dark">Perfil de usuario</h3>
            <img src="../assets/img/userProfile.jpg" alt="" width="72" height="auto">
        </div>
                <h5>Nombre completo:</h5>
                <h6>Luis Hernandez</h6>
                <h5>Nombre de usuario:</h5>
                <h6>LuisHH</h6>
                <h6>Se unio en 2023</h6>
               
            <div class="sticky-top" class="text-primary"><h6>Tus descargas</h6></div>                
    </div>      
</div>