<section class=" gradient-custom-2">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div >
          <div class="card" *ngFor="let item of editCurso">
            <div class="rounded-top text-white d-flex flex-row" style="background-image: url('http://127.0.0.1:8000/img/imgVistaRecursos/{{item.vistaprevia}}'); background-size: cover;height:250px;">
              <div class="ms-4 mt-5 d-flex flex-column" >
                <img src="http://127.0.0.1:8000/img/cursos.png"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                <button type="button" class="btn btn-warning" data-mdb-ripple-color="dark"  
                  style="z-index: 1;">
                  Editar Curso
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h1 class="bg-light text-dark">{{item.nombre}}</h1>
                <!--<p>New York</p>-->
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;"></div>
            <!--<div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">253</p>
                  <p class="small text-muted mb-0">Photos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5">478</p>
                  <p class="small text-muted mb-0">Following</p>
                </div>
              </div>
            </div>-->
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">Sobre este curso</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1"> <b>Descripcion:</b> {{item.Descripcion}}</p>
                  <p class="font-italic mb-1"><b>Tipo:</b>{{item.tipo}}</p>
                  <p class="font-italic mb-0"><b>Precio: $</b>{{item.precio}}</p>
                  <p class="font-italic mb-0"><b>Asosiacion:</b>{{item.asociasion}}</p>
                </div>               
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Tus Cursos</p>
                 
              </div>
              <div class="row g-2">
                
                <div class="col mb-2">
                  <button type="button" class="btn btn-success mb-4">Agregar Imagen vista previa</button>
                  <img src="http://127.0.0.1:8000/img/imgVistaRecursos/{{item.vistaprevia}}"
                    alt="image 1" class="w-100 rounded-3">
                    <p class="lead fw-normal mb-1">Secciones del curso</p>
                    <div class="p-4" >
                      <div class="accordion" id="accordionExample" *ngFor="let s of seccion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              {{s.nombre}}
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOn" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {{s.descripcion}}
                            </div>
                          </div>
                        </div>                        
                      </div>                                     
                  </div> 
                </div>
                <div class="col mb-2">
                  <p class="lead fw-normal mb-1">Objectivos del curos</p>
                  <div class="p-4" >
                    <p class="font-italic mb-1" *ngFor="let o of objetivos"> <b>*</b> {{o.objetivo}}</p>  
                </div>
                  <div class="col mb-2">
                    <button type="button" class="btn btn-warning">Enviar para revisar curso</button>
                </div>
              </div>
              </div>
              <div class="row d-flex">
                <!--<div class="col-md-12 col-lg-3 mb-4 mb-lg-0" *ngFor="let item of cursosForIdUser" style="padding-bottom: 10px;" data-aos="zoom-out-up">
                  <div class="card">
                    <div class="d-flex justify-content-between p-3" style="padding-bottom: 5px;">
                      <h6>{{item.name}}</h6>            
                    </div>          
                      <img src="http://127.0.0.1:8000/img/imgVistaRecursos/{{item.vistaprevia}}" style="width: 100%; height:250px" />
                    <div class="card-body">          
                      
                      <div class="d-flex justify-content-between mb-3">
                        <button mat-button color="primary" (click)="verCursosId(item.id)" role="button">Editar</button>              
                        <p  >{{item.tipo}}</p>
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>