<form class="p-3" [formGroup]="formRol" (ngSubmit)="RegistrarRol()" >
  <div class="input-group mb-3">
    <label for="">Agregar Rol</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" formControlName="rol" placeholder="Rol">
    <label for="text">Nombre Rol</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="text" class="form-control" formControlName="Description" placeholder="Descripcion">
    <label for="text">Descripcion</label>
  </div>

  
  <div class="gap-3 d-md-flex justify-content-md-end mb-3">
    <button type="button" class="btn btn-danger" (click)="closeDialog()">Cerrar</button>
    <button type="button" class="btn btn-info" (click)="RegistrarRol()">Registrar</button>
  
</div>
  
</form>