<form class="p-3" [formGroup]="formUsers" (ngSubmit)="RegistrarUser()" >
  <div class="input-group mb-3">
    <label for="">Registrar Usuario</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
    <label for="text">Nombre</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="text" class="form-control" formControlName="nameUser" placeholder="Usuario">
    <label for="text">Nombre Usuario</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="text" class="form-control" formControlName="phone" placeholder="Telefono">
    <label for="text">Telefono</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="email" class="form-control" formControlName="email" placeholder="Email">
    <label for="email">Email</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <label for="password">Password</label>
  </div>
      
  <div class="input-group mb-3 d-grid ">
  <label class="w-100">Tipo de usuario:</label>
  <select  formControlName="typeUser"  class="w-100">        
    <option>sleccionar tipo de usuario</option>
    <option *ngFor="let item of typeRols" value="{{item.id}}">{{item.rol}}</option>
  </select>
  </div>
  
  <div class="input-group mb-3 d-grid ">
  <div class="gap-3 d-md-flex justify-content-md-end mb-3">
    <button type="button" class="btn btn-danger" (click)="closeDialog()">Cerrar</button>
    <button type="button" class="btn btn-info" (click)="RegistrarUser()">Registrar</button>
  </div>  
  </div>
  </form>