<header class="py-3 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <nav class="d-flex">
          <h6 class="mb-0">
            <a href="" class="text-reset">Home</a>
            <span>/</span>
            <a href="" class="text-reset">Recuros</a>           
          </h6>
        </nav>
      </a>      
    </div>
</header>


<section>
  <div class="container py-5">
    <h1 class="text-center">Tipo de recursos</h1><br>  
    <div class="row d-flex">
      <div class="col-md-12 col-lg-3 mb-4 mb-lg-0" *ngFor="let item of typeRecurs" style="padding-bottom: 10px;" data-aos="zoom-out-up">
        <div class="card">
          <div class="d-flex justify-content-between p-3" style="padding-bottom: 5px;">
            <h6>{{item.name}}</h6>            
          </div>          
            <img src="http://127.0.0.1:8000/img/imgTipoRecurso/{{item.img}}" style="width: 100%; height:250px" />
          <div class="card-body">          
            <p id="descripcionCursos" style="display: none;">{{item.description}}</p>
            <div class="d-flex justify-content-between mb-3">
              <button mat-button color="primary" (click)="verCursos(item.id)" role="button">{{item.name}}</button>              
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</section>

<app-footer data-aos="flip-right"></app-footer>