<header class="py-3 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <nav class="d-flex">
          <h6 class="mb-0">
            <a href="" class="text-reset">Home</a>
            <span>/</span>
            <a href="" class="text-reset">Recuros</a>           
          </h6>
        </nav>
      </a>      
    </div>
</header>


<div class="container mydiv">
  <h1 class="text-center">Recursos</h1><br>  
    <div class="row" style="display:inline-flex">
        <div class="col-md-4 pb-6"  *ngFor="let item of typeRecurs" data-aos="zoom-out-up">
            <!-- bbb_deals -->
            <div class="bbb_deals">
                <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span></div>
                <div class="bbb_deals_title">{{item.name}}</div>
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="../assets/img/{{item.img}}" alt=""></div>
                        <div class="bbb_deals_content">                            
                            <div class="available">
                                <div class="available_line d-flex flex-row justify-content-start">
                                  <button class="btn btn-primary" (click)="verCursos(item.id)" role="button">{{item.name}}</button>
                                </div>
                                <div class="available_bar"><span style="width:17%">
                                  <p class="p-4 mb-3 bg-light">{{item.description}}</p></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>