<form class="p-3" [formGroup]="formPriv" (ngSubmit)="RegistrarPriv()" >

  <div class="input-group mb-3">
    <label for="">Agregar Permisos</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" formControlName="description" placeholder="Nuevo Permiso">
    <label for="text">Permiso</label>
  </div>
   
    <div class="gap-3 d-md-flex justify-content-md-end mb-3">
      <button type="button" class="btn btn-danger" (click)="closeDialog()">Cerrar</button>
      <button type="button" class="btn btn-info" (click)="registraRol()">Registrar</button>
    </div>
</form>